body{
    background-color: black;
}

/********************Typograpy*************************************/

figure{
    margin: 0;
    padding: 0;
}

figcaption{
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    color :#000000;
}

p {
    font-size: 14px;
    color: gainsboro;
    font-weight: bold;
    line-height: 1.3em;
}


/*********************Start Header-Area**********************************/

.container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
}


.header-area {
    overflow: hidden;
}

.header-area .logo-area {
    float: left;
    width: 25%;
    overflow: hidden;
}

.header-area .menu-area {
    width: 75%;
    overflow: hidden;
}

.header-area .menu-area nav {
   float: right;
}

.header-area .menu-area nav ul {
    padding: 0;
    margin: 0;
}

.header-area .menu-area nav ul li{
    display: inline-block;
    margin-right: 25px;
    }

    .header-area .menu-area nav ul li a{
        font-size: 16px;
        font-weight: normal;
        color: #ffffff;
        text-decoration:  none;
        text-transform: capitalize;
    }

    .header-area .menu-area nav ul li a:hover{
        text-decoration:  underline;
    }


/*******************************Start Axit-area*******************************/
.axit-area {
    overflow: hidden;
    color: black;
    background-color: black;

}

.axit-area .content{
    background-image: url("../img/building.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    overflow: hidden;
    height: 900px;
}

.col-1-2{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 35px;
}

.axit-area figcaption {
    font-size: 21px;
    letter-spacing: 1px;
    font-family: arial;
    margin-bottom: 50px;
    line-height: 1.3em;
    font-weight: normal;

}

.axit-area hr {
    border-bottom: 1px solid #ffffff;
    border-top: none;
    width: 20%;
    margin-bottom: 30px;
    margin-left: 0;
}

.axit-area p{
    margin-bottom: 40px;
}

.axit-area a {
    text-decoration: none;
    color: rgb(93, 4, 177);
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: none;
}

.axit-area a:hover {
    text-decoration: underline;
}




.card{
    opacity: .9;
}

.signup{
    background-color: red;
}